* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: rgba(0, 0, 0, 0.85);
  color: crimson;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  margin: 0 20px;
}

.header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.my-img {
  height: 40px;
  width: 45px;
  border-radius: 50%;
}

.my-img img {
  border-radius: 50%;
}

#display-data {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#application-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

input {
  margin: 20px 0;
  padding: 5px;
  font-size: 1.5em;
}

.btn {
  padding: 10px;
  color: white;
  font-size: 1em;
  pointer-events: all;
  background-color: crimson;
}

.btn:hover {
  color: crimson;
  background-color: white;
  transition: all 0.5s ease;
}

.content {
  width: 80%;
  /* border: 1px solid black; */
  min-height: 90vh;
  padding: 20px;
}

.add-items input {
  font-size: 1em;
  padding: 10px;
}

.items {
  margin-top: 50px;
}

.items .item-box {
  background-color: white;
  padding: 5px;
  font-size: 1.5em;
  margin-bottom: 5px;
  border: 1px solid crimson;
  display: flex;
}

.items .item-box .item {
  flex-grow: 4;
}

.items .item-box .alter-btns {
  flex-grow: 0.1;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alter-btns i {
  pointer-events: fill;
}

.item-box:hover {
  background-color: crimson;
  color: white;
  transition: all 0.5s ease;
}

.gparent {
  height: 300px;
  width: 300px;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
  height: 200px;
  width: 200px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child {
  height: 100px;
  width: 100px;
  background-color: green;
}

#categories {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

#categories div {
  padding: 20px;
  background-color: white;
  font-weight: bold;
  font-size: 1.2em;
}

#categories div:hover {
  padding: 20px;
  background-color: crimson;
  color: white;
  transition: all 0.5s ease;
}
